article {
	margin: 2rem;
	white-space: pre-wrap;
}

article.no-line-wrap {
	white-space: normal;
}

article h1 {
	border-bottom: 2px #d4d4d8 solid;
	margin-bottom: 1rem;
	padding-bottom: 0.25rem;
	font-size: 1.75rem;
}

article .category {
	font-weight: bold;
	color: #0e7490;
}

article .summary {
	font-style: italic;
	font-size: 1.125rem;
}
